.Rproj.user
.Rapp*
.Rhistory
.RData
.Ruserdata
*.Rproj

TODO.md
*tmp*
inst/doc
docs/
check/
.*Rcheck/

paper/*
!paper/paper.Rmd
!paper/paper.md
!paper/paper.bib
!paper/render.R
!paper/apa.csl
!paper/template.tex
!paper/summary.png
!paper/wind.png
!paper/tssa.png
!paper/tssb.png

dataaimsr.Rcheck/

build-instructions.txt
