.Rproj.user
.Rapp*
.Rhistory
.RData
.Ruserdata
*.Rproj

TODO.md
*tmp*
inst/doc
docs/

paper/*
!paper/paper.Rmd
!paper/paper.md
!paper/paper.bib
!paper/render.R
!paper/apa.csl
!paper/template.tex

dataaimsr.Rcheck/

build-instructions.txt
